<!DOCTYPE html>
<html lang="sp">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - AgroServices</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/node_modules/animate/animate.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/formUser.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/siteCopiar.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/botonesInicio.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/AgroServices.styles.css" asp-append-version="true" />


  <link rel="stylesheet" href="https://fontawesome.com/icons" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">


  @* links par el nav Nuevo *@
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap"
    rel="stylesheet">

  @*LINK PARA EL BUSCADOR*@
  <link rel="stylesheet" href="~/css/buscador.css" />
</head>




<body>
  <!-- navbar -->
  <nav class="navbar FondoGlass-Navbar">
    <div class="logo_item py-1">
      @* <img src="/img/logoprueba.png" alt="Logo"> *@
      <i class="bx bx-menu" id="sidebarOpen"></i>
      @* <img class="imgLogo" alt=""></i> *@


      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AgroServices</a>

    </div>

    <div class="search">
      <form action="@Url.Action("BuscarPublicaciones", "Publicaciones")" method="get">
        <input type="text" name="consulta" placeholder="Buscar publicaciones">
        <input type="submit" value="Buscar">
      </form>
    </div>

    <div class="navbar_content">
      <partial name="_LoginPartial" />
      <i class="bi bi-grid"></i>
      @* <i class='bx bx-sun' id="darkLight"></i> *@
    </div>
  </nav>


  <div class="hstack gap-2">


    <!-- sidebar -->
    <nav class="sidebar FondoGlass-Navbar hoverable close">
      <div class="menu_content">
        <ul class="menu_items">

          <!-- inicio -->

          <li class="item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink">Inicio</span>
            </a>
          </li>
          <!-- perfil solo si estoy registrado -->

          @if (User.Identity.IsAuthenticated)
          {
            <partial name="_PerfilOption" />
          }


          <li class="item">
            <hr>
          </li>

          @if (User.Identity.IsAuthenticated)
          {
            <!-- publicar -->
            <li class="item">
              <a asp-controller="Publicaciones" asp-action="Formulario" asp-route-id="0" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-add-to-queue"></i>
                </span>
                <span class="navlink">Publicar</span>
              </a>
            </li>
          }
          <!-- Start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class='bx bx-news'></i>
              </span>
              <span class="navlink">Publicaciones</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a asp-controller="Publicaciones" asp-action="Index" class="nav_link sublink"><i
                  class='bx bx-image'></i>General</a>
            </ul>
          </li>

          <li class="item">
            <hr>
          </li>

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-layer"></i>
              </span>
              <span class="navlink">Moderar</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a asp-controller="Provincias" asp-action="Index" class="nav_link sublink">
                <i class="bx bxs-map-pin"></i> Provincias</a>
            </ul>
            <ul class="menu_items submenu">
              <a asp-controller="Localidades" asp-action="Index" class="nav_link sublink">
                <i class="bx bxs-map-pin"></i> Localidades</a>
            </ul>
            <ul class="menu_items submenu">
              <a asp-controller="Servicios" asp-action="Index" class="nav_link sublink">
                <i class="bx bx-cog"></i> Servicios</a>
            </ul>
            <ul class="menu_items submenu">
              <a asp-controller="Usuarios" asp-action="Index" class="nav_link sublink">
                <i class="bx bxs-user-pin"></i> Usuarios</a>
            </ul>
          </li>
        </ul>
        <!-- End -->
      </div>
    </nav>




    @* aca empieza las vistas *@
    <div class="container container2">
      <div class="container container-body-2">
        @RenderBody()
        </main>
      </div>

    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - AgroServices - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@



    @*SCRIPT PARA BUSCADOR*@
    <script defer src="~/js/buscador.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vistas.js" asp-append-version="true"></script>
    <script src="~/js/sweetalerts2.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>



    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
