<!DOCTYPE html>
<html lang="sp">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - AgroServices</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/node_modules/animate/animate.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/formUser.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/siteCopiar.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/botonesInicio.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/AgroServices.styles.css" asp-append-version="true" />

  @* links par el nav Nuevo *@
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

</head>




<body>
  <!-- navbar -->
  <nav class="navbar FondoGlass-Navbar">
    <div class="logo_item py-1">
      @* <img src="/img/logoprueba.png" alt="Logo"> *@
      <i class="bx bx-menu" id="sidebarOpen"></i>
      @* <img class="imgLogo" alt=""></i> *@
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#32a64f" viewBox="0 0 640 512"></style><path d="M96 64c0-35.3 28.7-64 64-64H266.3c26.2 0 49.7 15.9 59.4 40.2L373.7 160H480V126.2c0-24.8 5.8-49.3 16.9-71.6l2.5-5c7.9-15.8 27.1-22.2 42.9-14.3s22.2 27.1 14.3 42.9l-2.5 5c-6.7 13.3-10.1 28-10.1 42.9V160h56c22.1 0 40 17.9 40 40v45.4c0 16.5-8.5 31.9-22.6 40.7l-43.3 27.1c-14.2-5.9-29.8-9.2-46.1-9.2c-39.3 0-74.1 18.9-96 48H352c0 17.7-14.3 32-32 32h-8.2c-1.7 4.8-3.7 9.5-5.8 14.1l5.8 5.8c12.5 12.5 12.5 32.8 0 45.3l-22.6 22.6c-12.5 12.5-32.8 12.5-45.3 0l-5.8-5.8c-4.6 2.2-9.3 4.1-14.1 5.8V480c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32v-8.2c-4.8-1.7-9.5-3.7-14.1-5.8l-5.8 5.8c-12.5 12.5-32.8 12.5-45.3 0L40.2 449.1c-12.5-12.5-12.5-32.8 0-45.3l5.8-5.8c-2.2-4.6-4.1-9.3-5.8-14.1H32c-17.7 0-32-14.3-32-32V320c0-17.7 14.3-32 32-32h8.2c1.7-4.8 3.7-9.5 5.8-14.1l-5.8-5.8c-12.5-12.5-12.5-32.8 0-45.3l22.6-22.6c9-9 21.9-11.5 33.1-7.6V192 160 64zm170.3 0H160v96h32H304.7L266.3 64zM176 256a80 80 0 1 0 0 160 80 80 0 1 0 0-160zM528 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm0 64c-48.6 0-88-39.4-88-88c0-29.8 14.8-56.1 37.4-72c14.3-10.1 31.8-16 50.6-16c2.7 0 5.3 .1 7.9 .3c44.9 4 80.1 41.7 80.1 87.7c0 48.6-39.4 88-88 88z"/></svg>

      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AgroServices</a>

    </div>

    <div class="search_bar">
      <input type="text" placeholder="Search" />
    </div>


    <div class="navbar_content">
      <partial name="_LoginPartial" />
      <i class="bi bi-grid"></i>
      @* <i class='bx bx-sun' id="darkLight"></i> *@
    </div>
  </nav>


  <div class="hstack gap-2">


    <!-- sidebar -->
    <nav class="sidebar FondoGlass-Navbar hoverable close">
      <div class="menu_content">
        <ul class="menu_items">

          <!-- inicio -->

          <li class="item"> 
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink">Inicio</span>
            </a>
          </li>
          <!-- perfil solo si estoy registrado -->
          @if (User.Identity.IsAuthenticated)
          {
              <li class="item"> 
              <a asp-controller="Usuarios" asp-action="Perfil" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bxs-user"></i>
                </span>
                <span class="navlink">Mi Perfil</span>
              </a>
            </li>
          }


          <li class="item"> 
            <hr>
          </li>

          @if (User.Identity.IsAuthenticated)
          {
            <!-- publicar -->
            <li class="item"> 
              <a asp-controller="Publicaciones" asp-action="Formulario" asp-route-id="0" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-add-to-queue"></i>
                </span>
                <span class="navlink">Publicar</span>
              </a>
            </li>
          }
          <!-- Start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">Publicaciones</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a asp-controller="Publicaciones" asp-action="Index" class="nav_link sublink">General</a>
            </ul>
          </li>

          <li class="item"> 
            <hr>
          </li>

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-layer"></i>
              </span>
              <span class="navlink">Moderar</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a asp-controller="Provincias" asp-action="Index" class="nav_link sublink">
                Provincias</a>
            </ul>
            <ul class="menu_items submenu">
              <a asp-controller="Localidades" asp-action="Index" class="nav_link sublink">
                Localidades</a>
            </ul>
            <ul class="menu_items submenu">
              <a asp-controller="Servicios" asp-action="Index" class="nav_link sublink">
                Servicios</a>
            </ul>
            <ul class="menu_items submenu">
              <a asp-controller="Usuarios" asp-action="Index" class="nav_link sublink">
                Usuarios</a>
            </ul>

          </li>

          @* <li class="item"> 
              <a asp-controller="Provincias" asp-action="Index" class="nav_link">

                <span class="navlink">Provincias</span>
              </a>
            </li>
           <li class="item"> 
          <a asp-controller="Localidades" asp-action="Index" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-layer"></i>
            </span>
            <span class="navlink">Localidades</span>
          </a>
          </li>
           <li class="item"> 
          <a asp-controller="Servicios" asp-action="Index" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-layer"></i>
            </span>
            <span class="navlink">Servicios</span>
          </a>
          </li>
           <li class="item"> 
          <a asp-controller="Usuarios" asp-action="Index" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-layer"></i>
            </span>
            <span class="navlink">Usuarios</span>
          </a>
          </li> *@

        </ul> <!-- End -->
      </div>
    </nav>




    @* aca empieza las vistas *@
    <div class="container container2">
      <div class="container container-body-2">
        @RenderBody()
        </main>
      </div>

    </div>

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - AgroServices - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalerts2.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
