@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<li class="item"> 
    <a onclick="perfilView(0)" class="nav_link">
        <span class="navlink_icon">
            <i class="bx bxs-user"></i>
        </span>
        <span class="navlink">Mi Perfil</span>
    </a>
</li>
<li class="item">
    <a asp-area="" asp-controller="Notificaciones" asp-action="Index" class="nav_link">
        <span class="navlink_icon">
        <i class="bx bxs-bell"></i>
        </span>
        <span class="navlink">Notificaciones</span>
    </a>
</li>
<li class="item">
    <a asp-area="" asp-controller="Notificaciones" asp-action="Solicitudes" class="nav_link">
        <span class="navlink_icon">
        <i class="bx bx-envelope"></i>
        </span>
        <span class="navlink">Solicitudes Asociadas</span>
    </a>
</li>