@{
    ViewData["Title"] = "Home Page";
}
@* @model List<Notificacion> *@
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />


<div class="FondoGlass-1 my-5">
    <h1 class="display-4">Notificaciones</h1>
    @* Tabla con los datos de cada elemento *@
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Fecha</th>
                <th>Contenido</th>
                @* <th>Fecha</th> *@
            </tr>
        </thead>
        <tbody id="tablaNotificaciones">
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/tablas/notificacion-1.0.0.js"></script>
}