@{
    ViewData["Title"] = "Home Page";
}
@model List<Notificacion>
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />


<div class="FondoGlass-1 my-5">
    <h1 class="display-4">Notificaciones</h1>

      <!-- Button trigger modal -->
      

  @* Tabla con los datos de cada elemento *@
  <table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Contenido</th>
            <th>Relacionado</th>
            @* <th>Fecha</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var notificacion in Model)
        {
            <a href="@notificacion.Link" class="notificacion @((notificacion.Check) ? "leida" : "")">
                <tr>
                    <td>@notificacion.Descripcion</td>
                    <td class="w-20">@((notificacion.Check) ? "Leída" : "Nuevo")</td>
                </tr>
            </a>
        }
    </tbody>
</table>
</div>

@section Scripts{
    <script src="~/js/tablas/notificacion-1.0.0.js"></script>
}