@{
  ViewData["Title"] = "Home Page";
}
@{
  // Captura el valor de solicitudID desde la URL
  var solicitudID = ViewContext.RouteData.Values["id"] as string;
}
<div id="solicitudesData" data-solicitudes="@Html.Raw(Json.Serialize(Model))"></div>
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/modals-solicitudes.css" />


<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalConcretar">
Launch demo modal
</button> *@

<!-- Modal cancelar / rechazar -->
<div class="modal fade" id="modalCancelar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancelar Solicitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se cancelar치 la solicitud relaciana a la publicaci칩n "".
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button id="btn-cancelar" type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal concretar/aceptar  -->
<div class="modal fade" id="modalConcretar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Concretar Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se cancelar치 la solicitud relacionada a la publicaci칩n "".
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button id="btn-concretar" type="button" class="btn btn-success">Concretar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal info  -->
<div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de Solicitud</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>


<div class="FondoGlass-1 my-5">
  <h1 class="display-4">Solicitudes</h1>
  <div class="d-flex m-1">
    <div class=" col-6 px-3">
      <select class="form-control" id="FiltroTipo">
        <option value="0">Cualquier Tipo</option>
        <option value="1">Entrada</option>
        <option value="2">Salidas</option>
      </select>
    </div>
    <div class=" col-6 px-3">
      <select class="form-control col-6 px-3" id="FiltroEstado">
        <option value="">Cualquier estado</option>
        <option value="0">En espera</option>
        <option value="1">Canceladas</option>
        <option value="2">Rechazadas</option>
        <option value="3">Aceptadas</option>
        <option value="4">Concretadas</option>
      </select>
    </div>
  </div>

  @* Tabla con los datos de cada elemento *@
  <div class="overflow-auto">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th class="th-icon"></th>
          <th>Fecha</th>
          <th>Asociado</th>
          <th>Mensaje</th>
          <th>estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tablaSolicitudes">

      </tbody>
    </table>
  </div>
</div>

@section Scripts {
  <script src="~/js/tablas/solicitud-1.0.0.js"></script>
}

<script>
  // Luego, dentro del bloque de script, asigna el valor a una variable JavaScript
  var solicitudIDJS = @Html.Raw(Json.Serialize(solicitudID));
  console.log(solicitudIDJS);
</script>