@* Tabla de Lista de publicaciones *@

<<<<<<< HEAD
<table class="table table-bordered table-hover table-light table-condensed text-uppercase">
    <thead>
        <tr>
            <th>Nombre</th>
            <th class="text-end">
              <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalProvincia">
              Nuevo</button>
            </th>
        </tr>
    </thead>
        <tbody id="tbody-publicaciones">        
        </tbody>
  </table>

  
=======
>>>>>>> 95b080e238f24393668ea27ce968f7aaba2a5600
@* info de cada publi: Titulo, una imagen, descripcion, valoracion *@