@model AgroServices.Models.Publicacion


@{

    ViewData["Title"] = "Home Page";
}


  

<form id="files" method="post" enctype="multipart/form-data">
<h3>Nueva Publicación</h3>

<div class="mb-3">
    <label class="form-label">Tipo de publicación</label>
 
    <Select id="tipo" onchange=seleccionarTipo(this.value)>
        <option value="0">- Seleccionar -</option>
        <option value="1">Ofertar de un servicio</option>
        <option value="2">Demanda de Servicio</option>
    </Select>
 </div>

 <div id="TipoSeleccionado">
    @* imput del titulo *@
    <div class="mb-3">
      <label class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo">
    </div>

    @* imput de la descripcion *@
    <div class="mb-3">
      <label class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="descripcion">
    </div>

    @* lista de etiquetas *@
<div class="mb-3">
      <label class="form-label">etiqueta</label>
      <Select id="etiqueta" onchange=seleccionarTipo(this.value)>
        <select class ="form-control" id="etiqueta"></select>
      
    </Select>
    </div>


    <table>
      <thead></thead>
      <tbody></tbody>
    </table>

    <button type="submit" class="btn btn-primary">Subir Publicación</button>
 </div>
</form>


@section Scripts{
    <script src="~/js/tablas/publicacion-1.0.0.js"></script>
}