
@{

    ViewData["Title"] = "Home Page";
}


  

<form>
<h3>Nueva Publicación</h3>

<div class="mb-3">
    <label class="form-label">Tipo de publicación</label>
 
    <Select id="tipo" onchange=seleccionarTipo(this.value)>
        <option value="0">- Seleccionar -</option>
        <option value="1">Ofertar de un servicio</option>
        <option value="2">Demanda de Servicio</option>
    </Select>
 </div>
 <div id="TipoSeleccionado">
  @* imput del titulo *@
  <div class="mb-3">
    <label class="form-label">Título</label>
    <input type="text" class="form-control" id="titulo">
  </div>


 @* Lista de imagenes (solo cuando es oferta)*@
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="mb-3">
    <label class="form-label">Imagenes</label>
    <input type="document" class="form-control" id="Imagenes">
  </div>

  @* imput de la descripcion *@
  <div class="mb-3">
    <label class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="descripcion">
  </div>

  @* lista de etiquetas *@
  <table>
    <thead></thead>
    <tbody></tbody>
  </table>

  <button type="submit" class="btn btn-primary">Subir Publicación</button>
 </div>
</form>


@section Scripts{
    <script src="~/js/tablas/publicacion-1.0.0.js"></script>
}