@model AgroServices.Models.Publicacion;

@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}
@*LINKS EDITOR DE TEXTO*@
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="~/css/textEditor.css" />


@*SCRIPT EDITOR DE TEXTO *@
<script defer src="~/js/textEditor.js"></script>
<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Modal -->
<div class="modal fade" id="ModalImagen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content FondoGlass-2">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal">IMAGEN</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <form name="files" id="files" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" name="ImagenID" id="ImagenID" value="0" />
                    <div>
                        <input type='file' class="form-control" accept="image/*" name="imagen" id='imagen'>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>

        </div>
    </div>
</div>



<div id="div-main" class="FondoGlass-1 my-5 animate__animated animate__delay-0s">
    <div id="div-datos">
        <h2 class="fw-bold text-black"> Nueva Publicación</h2>
        <hr>
        <form id="formulario" method="post">

        <input type="hidden" id="PublicacionID" value=@ViewBag.publicacionID></input>
        <input type="hidden" id="usuarioID" value=@ViewBag.usuarioID></input>

            <div class="row">

                @* Select para elegir TIPO *@
                <div class="mb-3 col-4">
                    <label class="form-label fw-bold text-black">Tipo de publicación:</label>
                    <Select class="form-control" id="EsOferta" onchange=seleccionarTipo(this.value)>
                        <option value="0">- Seleccionar -</option>
                        <option value="1">Ofertar un Servicio</option>
                        <option value="2">Buscar Servicio</option>
                    </Select>
                </div>

                @* imput del titulo *@
                <div class="mb-3 col-12 col-md-8">
                    <label class="form-label fw-bold text-black">Título</label>
                    <input disabled type="text" class="form-control" id="Titulo">
                </div>

                <div class="mb-3 col-12 col-md-8">
                    <label class="form-label fw-bold text-black">Resumen</label>
                    <input disabled type="text" class="form-control" id="Resumen">
                </div>

                @* lista de etiquetas *@
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label fw-bold text-black">Etiquetas:</label>
                    <select disabled class="form-control mb-2" id="ServicioID"
                        onchange=AñadirEtiqueta(this.value)></select>
                    <div id="Etiqueta-List" class="tags col-12 col-md-6"></div>
                </div>



                @* Imagen descriptiva *@
                @* <div class="col-12 col-md-6 FondoGlass-1">
                <img src="" alt="" style="height: auto;">
                </div> *@
            </div>


            @* imput de la descripcion *@
            <div class="my-3">
                <label class="form-label fw-bold">Descripción</label>
                <textarea disabled type="text" class="form-control" id="descripcion"></textarea>@*Texto enriquecido*@
            </div>

            

        </form>
        <h2>Imagenes Asociadas</h2>
        <div id="carouselExampleFade" class="carousel slide my-3" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner" id="Lista_imagenes"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="btn-formulario pt-3">
            <button type="button" onclick="NuevaImagen()" class="btn btn-secondary">
                <span class="fs-5">Añadir Imagen</span>
            </button>
            <button type="button" onclick="EliminarImagen()" class="btn btn-danger ml-2">
                <span class="fs-5">Eliminar Imagen</span>
            </button>
        </div>
        <div class="btn-formulario px-auto">
            <button id="btn-guardar" type="button" onclick=GuardarPublicacion() class="btn btn-primary">Guardar Datos</button>
        </div>
    </div>
</div>


@section Scripts{
                    <script src="~/js/tablas/publicacion-1.0.0.js"></script>
}