@{

    ViewData["Title"] = "Home Page";
}


<!-- Modal -->
<div class="modal fade" id="ModalPublicacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content fondo2">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Agregar Publicacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="PublicacionID" value="0" />
        <div>
            <label class="control-label">Publicacion</label>
            <input type="text" class="form-control" id="Descripcion" autocomplete="off" onkeyup="this.value = this.value.toUpperCase()"/>
            <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="GuardarPublicacion()" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="FondoGlass-1 my-5">
  <h2 class="text-black">Publicaciones</h2>
  @* Tabla con los datos de cada elemento *@
 
  <table class="table table-bordered table-hover table-light table-condensed text-uppercase">
    <tbody id="tbody-publicaciones"></tbody>
  </table>
</div>

@section Scripts{
    <script src="~/js/tablas/buscador-1.0.0.js"></script>
}