<link rel="stylesheet" href="~/css/VistaPublicacion.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/publicacionList.css" asp-append-version="true" />
<!-- Carga de Moment.js y en español-->

<table id="tabla-imprimir" class="table table-bordered" hidden>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Comentario</th>
      <th>Puntuacion</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody id="tbody-imprimir">
  </tbody>
</table>


<div class="modal fade" id="ModalSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalSolicitud FondoBlanco">
      <div class="modal-header modal-header-solicitud">
        <h5 class="modal-title">Solicitar Servicio: <strong id="tituloModal"></strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="SolicitudID" value="0">
        <input type="hidden" id="usuarioID" value="@ViewBag.usuarioID">

        <div class="mensaje-intro">
          Completa el formulario para solicitar el servicio. Una vez enviado, tus detalles y mensaje serán entregados al
          remitente. Te mantendremos informado sobre cualquier respuesta.
        </div>
        <hr>
        <div>
          <label for="mensaje" class="control-label">Mensaje:</label>
          <textarea type="text" class="form-control mensaje-textarea" id="descripcionSolicitud" required></textarea>
          <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="EnviarSolicitud()" class="btn btn-verde-rural">Enviar</button>
      </div>
    </div>
  </div>
</div>



<div class="card-blanco mx-auto">
  <input type="hidden" id="PublicacionID" value=@ViewBag.publicacion.PublicacionID></input>
  <div class="row card-vista-publi">
    <div class="col-12 col-md-8">
      <div id="carouselExampleFade" class="carousel slide my-3" style="border: 2px solid black; border-radius: 17px"
        data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="false">
        <div class="carousel-inner" id="Lista_imagenes">

          <!-- Agrega más elementos de carousel aquí -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    @* datos principales*@
    <div class="col-12 col-md-4 d-flex flex-column">
      @* fecha *@
      @* <h4>@ViewBag.publicacion.Titulo</h4> *@
      <h4 id="titulo"></h4>
      @* <label class="mt-2">@ViewBag.publicacion.Fecha</label> *@
      <label id="usuario"></label>
      @* tags *@
      <label id="tags"></label>
      <hr>
      <label class="mb-auto" id="resumen"></label>

      <div id="btn-editar" style="display: none;" class="div-boton-der my-3">
        <a class="btn btn-success" asp-controller="Publicaciones" asp-action="Formulario"
          asp-route-id=@ViewBag.publicacion.PublicacionID>Editar</a>
      </div>
      <div id="btn-solicitud" class="div-boton-der my-3">
        <button onclick=nuevaSolicitud() class="btn btn-success">
          @{
            if (ViewBag.publicacion.EsOferta)
            {
              <p class="m-0">
                Solicitar servicio</p>
            }
            else
            {
              <p class="m-0">Ofertar servicio</p>
            }
          }
        </button>
      </div>
      <div id="ValoracionGeneral"></div>
      <div id="ValoracionInfo">
        <canvas id="GraphValoracion" </canvas>
      </div>
    </div>
    <hr>
    @* descripcion *@
    <label id="descripcion"></label>


    @* caja valoraciones y Valoracion general de 1 a 5 estrellas *@
  </div>

  <div class="comentarios-container">

    <h2>Valoraciones</h2>


    <div class="mb-2 comentario-contenido" style="display: none;" id="ValoracionCreate">
      <div class="comentario-header">
        <p class="nombre-usuario">Danos tu valoración:</p>
        <div id="inputValoracion" class="valoracion">
          <i class="bx bx-star"></i>
          <i class="bx bx-star"></i>
          <i class="bx bx-star"></i>
          <i class="bx bx-star"></i>
          <i class="bx bx-star"></i>
        </div>
      </div>
      <textarea name="" rows="4" placeholder="Comparte tus experiencia al participar en esta publicación..."
        id="Contenido"></textarea>
      <div id="btn-volver" class="div-boton-der my-3">
        <button onclick="enviarValoracion()" class="btn btn-success">Guardar</button>
      </div>
    </div>
    <div id="Valoraciones">

    </div>
  </div>

  @*BOTON PARA VOLVER A LA LISTA PUBLICACIONES GENERAL*@
  <div class="btn-container">
    <div id="btn-volver" class="div-boton-der my-3">
      <buttom onclick="volver()" class="btn btn-success"><i class='bx bx-arrow-back'></i>Volver</buttom>
    </div>
    <div class="div-boton-der my-3">
      <buttom onclick="Imprimir()" class="btn btn-success">Imprimir Valoraciones</buttom>
    </div>
  </div>
</div>



@section Scripts {
  <script src="~/js/tablas/vista-1.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

}