@* titulo *@
<h3 id="titulo"></h3>

@* carosel de imagenes *@


@* descripcion *@


@* usuario *@


@* caja valoraciones y Valoracion general de 1 a 5 estrellas *@


@* boton de solicitud (solo para los usuarios registrados - el dueño de la publi)*@


@* sadas *@