<link rel="stylesheet" href="~/css/VistaPublicacion.css" asp-append-version="true" />

<div class="modal fade" id="ModalSolicitud" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modalSolicitud FondoBlanco">
      <div class="modal-header modal-header-solicitud">
        <h5 class="modal-title">Solicitar Servicio: <strong id="tituloModal"></strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="SolicitudID" value="0">
        <input type="hidden" id="usuarioID" value="@ViewBag.usuarioID">

        <div class="mensaje-intro">
            Completa el formulario para solicitar el servicio. Una vez enviado, tus detalles y mensaje serán entregados al remitente. Te mantendremos informado sobre cualquier respuesta.
        </div>
        <hr>
        <div>
          <label for="mensaje" class="control-label">Mensaje:</label>
          <textarea type="text" class="form-control mensaje-textarea" id="mensaje" required></textarea>
          <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="EnviarSolicitud()" class="btn btn-verde-rural">Enviar</button>
      </div>
    </div>
  </div>
</div>  



<div class="FondoGlass-3 my-5">




<input type="hidden" id="PublicacionID" value=@ViewBag.publicacionID></input>

<div class="row">
    @* carosel de imagenes *@
    <div class="col-12 col-md-8">
        <div id="carouselExampleFade" class="carousel slide my-3" style="border: 2px solid black; border-radius: 17px" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="false">
            <div class="carousel-inner" id="Lista_imagenes">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    @* datos principales*@
    <div class="col-12 col-md-4">
      @* fecha *@
            <h2 id=titulo></h2>
            <p class="mt-2">@ViewBag.Fecha</p>
            <hr>
      @* tags *@
            <spam style="display: none;" id="tags" class="tag"></spam>
            <hr>
      @* usuario *@
            <div class="div-usuario">
                <span>
                <p id=User-name><i class="bx bx-user"></i>@ViewBag.username</p>
                </span>
            </div>
    </div>

    @* descripcion *@
<h4 id="descripcion"></h4>

<div id="btn-solicitud" class="div-boton-der my-3">
    <button onclick=NuevaSolicitud() class="btn btn-success">SOLICITAR SERVICIO</button>
</div>

<div id="btn-editar" style="display: none;" class="div-boton-der my-3">
  <a class="btn btn-success" asp-controller="Publicaciones" asp-action="Formulario" asp-route-id=@ViewBag.publicacionID>EDITAR</a>
      @* <button onclick=Editar() class="btn btn-success">EDITAR</button> *@
</div>

    @* caja valoraciones y Valoracion general de 1 a 5 estrellas *@
<div class="fondo-coment">
    <h2>Valoraciones:</h2>
      <div class="valoracion">
          <hr>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#ffe600" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#ffe600" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#ffe600" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#ffe600" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#ffe600" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>

        <p><b>Gustavo: </b>me parece correcto.</p></var>
        <hr>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#ffe600" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#000000" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#000000" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#000000" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="fill:#000000" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
        <p><b>Miguelito: </b>Se le salio una rueda mientras hacia el trabajo y perdimos mucho tiempo, tienen que estar mas preparados.</p></var>
        <hr>

          
      @* <textarea id="contenido" cols="30" rows="10"></textarea> *@
    </div>

    @*BOTON PARA VOLVER A LA LISTA PUBLICACIONES GENERAL*@
    <div id="btn-volver" class="div-boton-der my-3">
      <a class="btn btn-success" ><i class='bx bx-arrow-back'></i>VOLVER</a>
    </div>
   

    @* boton de solicitud (solo para los usuarios registrados - el dueño de la publi)*@


    @* sadas *@

  

    </div>
</div>

@section Scripts{
  <script src="~/js/tablas/vista-1.0.0.js"></script>
}