@model AgroServices.Models.Usuario

@{

  ViewData["Title"] = "Home Page";
}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"> 
  



<!-- Modal -->
<div class="modal fade" id="ModalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content FondoGlass-2">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Agregar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="UsuarioID" value="0" />
        <div>
          <label class="control-label">Nombre</label>
          <input type="text" class="form-control" id="Nombre" autocomplete="off"
            onkeyup="this.value = this.value.toUpperCase()" />

          <label class="control-label">Apellido</label>
          <input type="text" class="form-control" id="Apellido" autocomplete="off"
            onkeyup="this.value = this.value.toUpperCase()" />

          <label class="control-label">Email</label>
          <input type="email" class="form-control" id="Email" autocomplete="off" onkeyup="this.value =
          this.value.toUpperCase()"/>

          <label class="control-label">Telefono</label>
          <input type="tel" class="form-control" id="Telefono" autocomplete="off" onkeyup="this.value =
          this.value.toUpperCase()"/>

          <label class="control-label">Localidad</label>
          <select asp-for="LocalidadID" class="form-control" id="LocalidadID" asp-items="ViewBag.LocalidadID"></select>

          <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="GuardarUsuario()" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>




<div class="fondoTablas">


  <!-- Button trigger modal -->


  @* Tabla con los datos de cada elemento *@
<div class="FondoGlass-1 my-5">
<h2 class="text-black">Usuarios</h2>
  <table id="example" class="table table-striped" style="width:100%">
    <thead class="table-dark">
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Nombre Completo</th>
        <th>Teléfono</th>
        <th>Localidad</th>
        <th class="text-end">
          @* <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#ModalUsuario">Nuevo <i class="bx bx-plus"></i>
            
            </button> *@
        </th>
      </tr>
    </thead>
    <tbody id="tbody-usuarios">
    </tbody>
  </table>
</div>
  
</div>


@section Scripts{
  <script src="~/js/dataTable.js"></script>
  <script src="~/js/tablas/usuario-1.0.0.js"></script>
}

  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script> 

