@{
  ViewData["Title"] = "Home Page";
}

  <link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />


<div>
  <!-- Card 1 - Información del Usuario -->
  <div class="card-perfil">
    <div class="card-header">Información del Usuario</div>
    <div class="row">
      <div class="user-info col-6">
        <p><strong>Nombre de usuario: </strong><p id="userName"></p></p>
        <p><strong>6 años utilizando AgroServices</strong><p id="age"></p></p>
        <p><strong>Localidad: </strong><p id="ubication"></p></p>
      </div>
      <div class="user-info col-6">
        <p><strong>Valoracion Promedio:</strong></p>
      </div>
    </div>
  </div>

  <!-- Card 2 - Lista de publicaciones asociadas a la cuenta -->
  <div class="card-perfil">
    <div class="card-header">Publicaciones Relacionadas</div>
    <div class="user-photo">
      <p><center>La cuenta no poseé ninguna publicación disponible.</center></p>
    </div>
  </div>

  <!-- Card 3 - Otra información del Usuario -->
  <div class="card-perfil">
    <div class="card-header">Contactar</div>
    <div class="user-details">
      <!-- Aquí puedes mostrar otra información del usuario, por ejemplo: -->
      <label for="">Consultar Sobre:</label>
      <select name="" id=""></select>

<button>buton</button>
      <!-- Puedes añadir más detalles aquí -->
    </div>
  </div>
</div>

@section Scripts{
      <script src="~/js/tablas/perfil-1.0.0.js"></script>
} 
