@{
    ViewData["Title"] = "Home Page";
}

@* <link rel="stylesheet" href="~/css/botonesInicio.css" asp-append-version="true"> *@

@* INICIO DE CODIGO DEL BUSCADOR---------- *@
<div class="big-button">
  <div class="big-button__title">
    Add a Session
  </div>
  <div class="big-button__icon">
    <i class="fas fa-plus"></i>
  </div>
</div>

<div class="big-button">
  <div class="big-button__title">
    Join a Session
  </div>
      <div class="big-button__icon">
      <i class="fas fa-joint"></i>
    </div>
</div>
@* FIN DE CODIGO DEL BUSCADOR---------- *@

