@{
    ViewData["Title"] = "Home Page";
}




@* COMIENZO DE CODIGO PARA EL CARROUSEL *@

@* FIN DE CODIGO PARA EL CARROUSEL *@

















@* COMIENZO DE CODIGO DE TARJETAS PARA DIFERENTES FILTROS *@
<section class="wrapper">
    <div class="container-fostrap">
        <div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                            <img src="https://www.deere.com.ar/assets/images/region-3/products/harvesters/platforms/plataforma_1366x768.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Trillado
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                    Acceder
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://www.deere.es/assets/images/region-2/products/self-propelled-forage-harvesters/9000-series/9000_series_r2c021456_large_large_b5c8cb1c6b7d3065dc4e0d3816a216081a1998f1.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Picado
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                                    Acceder
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                            <img src="https://www.deere.com.ar/assets/images/region-3/products/drills/plantadora.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html"> Sembrado
                                  </a>
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                                    Acceder
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* FIN DE CODIGO DE TARJETAS PARA DIFERENTES FILTROS *@
