/* 
  
  .big-button {
    border-radius: 20%;
    width: 60vh;
    height: 60vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh;
    color: orangered;
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 350ms;
    transition: transform 350ms;
    cursor: pointer;
  }
  .big-button:hover {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }
  .big-button:active {
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  .big-button .big-button__title {
    font-size: 10vh;
    text-align: center;
    transition: transform 350ms;
    user-select: none;
  }
  .big-button:hover .big-button__title {
    transform: translateY(-10px);
  }
  .big-button .big-button__icon {
    color: orangered;
    font-size: 15vh;
  } */


  /* .btn-eliminar{
    background-image: url(../img/x.svg);
    background-color: #0400ff00;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(23%) sepia(100%) saturate(2024%) hue-rotate(337deg) brightness(94%) contrast(85%);
    width: 2em;
    height: 2em; 
  }
  
  .btn-eliminar:hover{
    filter: grayscale(100%);
  }
  
  .btn-editar{
    background-image: url(../img/pen.svg);
    filter: invert(34%) sepia(66%) saturate(5719%) hue-rotate(214deg) brightness(106%) contrast(105%); 
  }
  
  .btn-habilitar{
    background-image: url(../img/check.svg);
    filter: invert(29%) sepia(78%) saturate(4052%) hue-rotate(145deg) brightness(90%) contrast(80%);
  } */

  .btn-eliminar{
    background-image: url(../img/eliminar.png);
    background-color: #0400ff00;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(23%) sepia(100%) saturate(2024%) hue-rotate(337deg) brightness(94%) contrast(85%);
    width: 2em;
    height: 2em; 
  }
  
  .btn-eliminar:hover{
    filter: grayscale(100%);
  }
  
  .btn-editar{
    background-image: url(../img/editar.png);
    /* filter: invert(34%) sepia(66%) saturate(5719%) hue-rotate(214deg) brightness(106%) contrast(105%);  */
  }
  
  .btn-habilitar{
    background-image: url(../img/habilitar.png);
    filter: invert(29%) sepia(78%) saturate(4052%) hue-rotate(145deg) brightness(90%) contrast(80%);
  }