section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #buscador{
       display: none;
    }
  }

#buscador{
    width: calc(100vw - 40rem);
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
}

#listaArticulos{
    font-size: 30px;
    margin-top: 20px;
    list-style: none;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

li{
    margin: 5px 0;
}

.filtro{
    display: none;
}