.card {
  border-radius: 15px;
  --background: #fff;
  --card-height: 190px;
  --card-radius: 15px;
  --blend-mode: overlay;
  overflow: hidden;
  --transition: 0.15s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card:nth-child(odd) .card__body-cover-image {
  --x-y1: 100% 90%;
  --x-y2: 67% 83%;
  --x-y3: 33% 90%;
  --x-y4: 0% 85%;
}
.card:nth-child(even) .card__body-cover-image {
  --x-y1: 100% 85%;
  --x-y2: 73% 93%;
  --x-y3: 25% 85%;
  --x-y4: 0% 90%;
}
.card__input {
  position: absolute;
  display: block;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}
.card__body {
  display: grid;
  grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
  background: var(--background);
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-radius);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
  transition: transform var(--transition), box-shadow var(--transition);
  transform: scale(var(--scale, 1)) translateZ(0);
}

.card__body:hover .card__body-cover-image {
  --filter-bg: grayscale(0);
}

.card__body:active {
  --scale: 0.96;
}
.card__body-cover {
  --c-border: var(--card-radius) var(--card-radius) 0 0;
  --c-width: 100%;
  --c-height: 100%;
  position: relative;
  overflow: hidden;
}
.card__body-cover-image {
  width: var(--c-width);
  height: var(--c-height);
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--c-border);
  /* filter: var(--filter-bg, grayscale(1)); */
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    var(--x-y1, 100% 90%),
    var(--x-y2, 67% 83%),
    var(--x-y3, 33% 90%),
    var(--x-y4, 0% 85%)
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    var(--x-y1, 100% 90%),
    var(--x-y2, 67% 83%),
    var(--x-y3, 33% 90%),
    var(--x-y4, 0% 85%)
  );
}
.card__body-header {
  height: var(--header-height);
  background: var(--background);
  padding: 0 10px 10px 10px;
}
.card__body-header-title {
  color: var(--text-headline);
  font-weight: 700;
  margin-bottom: 8px;
}
.card__body-header-subtitle {
  color: var(--text-color);
  font-weight: 500;
  font-size: 13px;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

body .socials {
  position: fixed;
  display: flex;
  right: 20px;
  bottom: 20px;
}
body .socials > a {
  display: block;
  height: 28px;
  margin-left: 15px;
}
body .socials > a.dribbble img {
  height: 28px;
}
body .socials > a.twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}
body .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* Estilo del contenedor del video */
.contenedor-video {
  position: relative;
  width: 100%;
  height: auto; /* Altura ajustable automáticamente */
  overflow: hidden; /* Oculta el contenido que desborde del contenedor */
  background-color: #0000001e;
  border-radius: 15px;
  background-blend-mode: color-burn;
}

/* Estilo del video de fondo */
.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Escala el video para llenar el contenedor */
  z-index: -1; /* Coloca el video detrás del contenido superpuesto */
}

/* Estilo del contenido superpuesto */
.contenido-superpuesto {
  position: relative;
  z-index: 1; /* Coloca el contenido encima del video */
  padding: 20px; /* Ajusta el espaciado según tus necesidades */
  color: white; /* Color del texto */
}

.grey-text {
  color: darkgreen;
  font-family: system-ui;
}

.btn-servicios {
  font-size: 38px;
  color: greenyellow;
  border: none;
  background: none;
  position: absolute;
  bottom: 10px;
  animation: flotar 1s ease-in-out infinite;
}

@keyframes flotar {
  0% {
    transform: translateY(0px) scaleX(1.2);
  }
  15% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px) scaleX(1.2);
  }
}

.vuelta {
  animation: flotar2 1s ease-in-out infinite;
}

@keyframes flotar2 {
  0% {
    transform: rotate(180deg) translateY(0px) scaleX(1.2);
  }
  15% {
    transform: rotate(180deg) translateY(10px);
  }
  100% {
    transform: rotate(180deg) translateY(0px) scaleX(1.2);
  }
}

.div-logo {
  display: flex;
  height: 21vh;
  align-items: center;
}

.div-logo img {
  height: 100%;
}

.title-reciente {
  font-family: Roboto;
}
.div-reciente {
  display: grid;
  border-radius: 40px 5px;
}

.fondoLogo {
  background: linear-gradient(
    to right,
    transparent 10%,
    white 40% 60%,
    transparent 90%
  );
  clip-path: polygon(
    35% 3%,
    40% 0%,
    60% 0%,
    65% 3%,
    100% 3%,
    100% 97%,
    65% 97%,
    60% 100%,
    40% 100%,
    35% 97%,
    0% 97%,
    0% 3%
  );
  border-radius: 17%;
}
