  .card-perfil {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre las tarjetas */
  }

  .card-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #47a847;
    margin-bottom: 10px;
  }

  .user-info {
    margin-bottom: 10px;
  }

  .user-info p{
    width: 100%;
    text-align:left;
    border: none;
    background-color: white;
    margin: 0.2rem;
  }

  .user-info p:hover{
    background-color: rgb(245, 245, 245);
  }

  .btn-info-perfil{
    cursor:pointer;
  }