
.user-info {
  margin-bottom: 10px;
}

.user-info a {
  text-align: left;
  border: none;
  margin: 0.2rem;
  color: black;
  text-decoration: none;
}

.div-select {
  width: 100%;
  margin-bottom: 1rem;
  /* background-color: rgb(231, 231, 231); */
}

.div-select:hover {
  background-color: rgb(231, 255, 226);
  color: rgb(2, 15, 0);
}

.btn-info-perfil {
  cursor: pointer;
}



