/* Estilos para el contenedor de la paginación */
#paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para los botones de la paginación y el selector */
#prevButton,
#nextButton,
#firstButton,
#endButton,
.pageButton,
#selectElementosPorPagina {
  background-color: white;
  color: #198754;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Estilos de hover */
#prevButton:hover,
#nextButton:hover,
#firstButton:hover,
#endButton:hover,
.pageButton:hover,
#selectElementosPorPagina:hover {
  background-color: #155e3c;
  color: white;
}

/* Estilos para el contenedor de información */
#paginationInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Estilos para el texto de información */
#paginationInfo p {
  margin: 0;
  color: #198754;
  font-weight: bold;
}

/* Estilos para el label y el select */
#paginationInfo label,
#selectElementosPorPagina {
  color: #198754;
}

#pagination .current {
  background-color: #198754;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

#pagination .current:hover {
  background-color: #155d3c;
}

.card-blanco {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; /* Espacio entre las tarjetas */
  width: 80%;
}

@media screen and (max-width: 769px) {
  .card-blanco {
    width: 95%;
  }
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #47a847;
  margin-bottom: 10px;
}

.infoCard{
  display: flex;
  flex-direction: column;
  height: auto;
  padding-inline: 0;
}
.infoCard label {
  cursor: pointer;
  padding-inline: 0.5rem;
  width: max-content;
  z-index: 1;
  /* font-size: 1.2vw; */
}

.infoCard .card-footer {
  background: gray;
  color: white;
  padding: 0;
  margin: 0;
}


.valoracion {
  color: #ffffff; /* Color de las estrellas seleccionadas */
  font-size: 20px;
  display: flex;
  font-size: 1rem; /* Tamaño del ícono */
  border: 2px solid #797979; /* Ancho y estilo del borde */
  border-radius: 5px; /* Hace que el borde siga la forma del ícono circular */
  padding: 5px; /* Espacio dentro del borde */
  margin: 5px; /* Espacio entre los íconos */
  /* box-shadow: 2px 2px 7px #00000082; */
  background: rgb(25 135 84)
}

.valoracion i {
    line-height: inherit;
    text-shadow: 2px 2px 7px grey;
}

.card_perfil {
  border: 1px solid rgb(196, 196, 196);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 7px grey;
  /* height: 20vw; */
}