.table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #6b6a6a;
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 0;
}
table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}
.table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}
.table td {
  /* padding: 1rem 2rem; */
  vertical-align: middle;
}

/* - para solicitudes- */

.th-icon {
  width: 5%;
}

#tablaSolicitudes i {
  font-size: 1.5rem;
}

.selected {
  border: 2px solid #198754;
  animation: blink-border 1s ease infinite; /* Parpadeo del borde */
}

@keyframes blink-border {
  0%, 100% {
      border-color: #198754; /* Color del borde cuando está visible */
  }
  50% {
      border-color: transparent; /* Color del borde cuando está oculto */
  }
}
/* - fin - */
