/* Estilos para el fondo blanco */
.FondoBlanco {
  background-color: white;
}

/* Estilos para el botón "Enviar" */
.btn-verde-rural {
  background-color: #198754; /* Color verde definido por ti */
  color: white;
  border: none;
}

.btn-verde-rural:hover {
  background-color: #106c3f; /* Color verde oscuro al pasar el mouse */
}

/* Estilos para el área de mensaje */
.mensaje-textarea {
  border: 1px solid #198754; /* Borde verde definido por ti */
}

/* Estilos para el mensaje introductorio */
.mensaje-intro {
  color: #106c3f; /* Color de texto verde oscuro */
  font-style: italic;
  font-weight: 600;
}

/* VALORACIONES */
.comentarios-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comentario {
  display: flex;
  margin-bottom: 20px;
}

.comentario-contenido {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comentario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto-comentario {
  margin-bottom: 10px;
}

.fecha-comentario {
  color: #888;
}

.nombre-usuario {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Color del texto */
  margin-right: 10px; /* Margen derecho para separación */
}
.valoracion {
  color: #ffd700; /* Color de las estrellas seleccionadas */
  font-size: 20px;
  display: flex;
  font-size: 24px; /* Tamaño del ícono */
  border: 2px solid #797979; /* Ancho y estilo del borde */
  border-radius: 5px; /* Hace que el borde siga la forma del ícono circular */
  padding: 5px; /* Espacio dentro del borde */
  margin: 5px; /* Espacio entre los íconos */
}

/* #descripcion {
  border-radius: 5px;
  border: 1px solid rgb(121, 121, 121);
} */

.card-vista-publi {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

#Contenido {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(36 79 34);
  padding: 1rem;
}

 /* .btn{
  box-shadow: -2px 3px 2px 1px darkgrey;
} */
