@{

  ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
  href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />

<!-- Modal -->
<div class="modal fade" id="ModalProvincia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content FondoGlass-3">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Agregar Provincia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="ProvinciaID" value="0" />
        <div>
          <label class="control-label">Provincia</label>
          <input type="text" class="form-control" id="Nombre" autocomplete="off"
            onkeyup="this.value = this.value.toUpperCase()" />
          <p class="text-danger" id="alerta"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" onclick="GuardarProvincia()" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


<div class="fondoTablas">


  <!-- Button trigger modal -->


  @* Tabla con los datos de cada elemento *@
  <div class="FondoGlass-1 my-5">
    <h1 class="display-4">Provincias</h1>
    <div class="table-responsive">
      <table id="example" class="table table-hover" style="width:100%">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th class="text-end">
              <button type="button" onclick="VaciarFormulario()" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#ModalProvincia">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
              </button>
            </th>
          </tr>
        </thead>
        <tbody id="tbody-provincias">
        </tbody>
      </table>
    </div>
  </div>
</div>





@section Scripts{
  <script src="~/js/tablas/provincia-1.0.0.js"></script>

  @* SCRIPT DATATABLE *@
  @* <script defer src="~/js/dataTable.js"></script> *@
}